*{ 
    margin: 0; padding: 0; list-style: none; text-decoration: none; 
} 

body{ 
    font-family: sans-serif; ; 
} 

nav .logo img{ 
    width: 70px;
    height: 70px;
    margin-left: 50px;  
} 

nav{ 
    height: 70px; background: #5488dc; box-shadow: 0 3px 15px rgba(0,0,0,.4); 
} 

nav ul{
     float: right; margin-right: 30px; 
} 

nav ul li{ 
    display: inline-block; 
} 

nav ul li a{ 
    color: white; display: block; padding: 0 15px; line-height: 70px; font-size: 20px; background: #5488dc; transition: .5s; 
} 

nav ul li a:hover, 

nav ul li a.active{ 
    color: #000000; 
} 

nav ul ul{ 
    position: absolute; top: 85px; border-top: 3px solid #000000; opacity: 0; visibility: hidden; 
} 

nav ul li:hover > ul{ 
    top: 70px; opacity: 1; visibility: visible; transition: .3s linear; 
} 

nav ul ul li{ 
    width: 150px; display: list-item; position: relative; border: 1px solid #000000; border-top: none; 
} 

nav ul ul li a{ 
    line-height: 50px; 
} 

nav ul ul ul{ 
    border-top: none; 
} 

nav ul ul ul li{ 
    position: relative; top: -70px; left: 150px; 
} 

nav ul ul li a i{ 
    margin-left: 45px; 
} 

section { 
    /*background: url(21380113.png); filter: blur(16px);*/ background-position: center; background-size: cover; height: 100vh; 
}

.titre { 
     text-align: center;
}


.container{
    display: flex; width: 900px;  margin:30px auto; justify-content: center; flex-wrap: wrap;
}
.box{
    width: 32%; height: auto; border: 1px solid #ccc; margin-bottom: 20px; margin-right: 1%; background: white; border-radius: 10px; transition: 0.9;
}
.box:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5); cursor: pointer;
}
img{
    width: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;
}
h3,p{
    text-align: justify; color: rgb(104, 92, 92);
}
p{
    font-size: 15px; padding: 0 5px;
}
@media (max-width: 800px){
    .container{
        width: 100%;
    }
}
@media (max-width: 600px){
    .container{
        width: 85%;
        display: block;
    }
    .box{
        width: 100%;
        margin-bottom: 4%;
    }
}